@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
* {
    padding: 0;
	margin: 0;
    color: $white;
    background-color: transparent;

    scrollbar-width: none;

	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
		Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

	text-decoration: none;

	transition: 0.2s;

	::-webkit-scrollbar {
		display: none;
	}
}

html {
	background-color: $dark;
}

main {
	scroll-behavior: smooth;
}